
.left {
  display: inline-block;
  vertical-align: text-top;
  width: 50%;

  position: relative;
  text-align: inherit;
}
.studentName {
  font-size: 27px;
  font-weight: bold;
}
.university {
  font-size: 14px;
  padding: 4px 20px;
  font-weight: normal;
}
.details {
  text-align: center;
  margin:10px;
}
.right {
  position: relative;
  display: inline-block;
  width: 50%;

}

.score-box {
  font-size: 23px;
  color:green;
  font-weight:bold;
  line-height: 37px;
}

.addScoreBtn {
  border: None;

  position: relative;
  left: 13px;
  top: -3px;

  color: white;
  background-color: green;
  border-radius: 10px;
 
}

.minusScoreBtn {
  border: None;

  position: relative;
  left: 13px;
  top: -3px;

  color: white;
  background-color: red;
  border-radius: 10px;
 
}
div.university span {
  background: green;
  padding: 3px;
  border-radius: 5px;
  color: white;
  left: 12px;
  position: relative;
}